.button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
    &:hover{
        opacity: 0.8;
    }
  }
  
