.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  &_content {
    background-color: rgb(248, 48, 48);
    width: 600px;
    height: 300px;
  }

  &_header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 30px;
    color: white;
   
    
  }

  &_block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:rgb(202, 4, 4) ;
    padding: 20px 30px;
  }

  &_text{
    text-align: center;
    line-height: 25px;
    color: white;
    padding: 50px 0;
  }

  &_closeButton {
    font-size: 40px;
    color: white;
    cursor: pointer;
  }

  &_actions {
    text-align: center;
  }
  &_btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: rgb(134, 13, 13);
    font-size: 16px;
    cursor: pointer;
    color: white;
    margin-right: 10px;
    &:hover {
        background-color: rgb(177, 13, 13);
    }
  }
}
