.btn {
  border: none;
  color: #363636;
  cursor: pointer;
  justify-content: center;
  padding: 10px 10px;
  font-size: 18px;
  border-radius: 5px;
  margin: 10px 20px;
  cursor: pointer;
  &:hover {
    color: #fff;
    opacity: 0.8;
  }
}
