*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.header{
    display: flex;
    align-items: center;
    justify-content:space-between ;
    padding: 50px 20px 30px 20px;

    &_title{
        font-size: 50px;
        line-height: 40px;
        color: rgb(15, 148, 148);
    }
     &_btn{
        margin-left: 10px;
        font-size: 20px;
        background: rgb(22, 226, 226);
        border: none;
        border-radius: 5px;
        padding: 10px 15px;
        color: white;
        cursor: pointer;
     }
}
