.btn {
  border: none;
  color: #363636;
  cursor: pointer;
  padding: 10px 10px;
  font-size: 13px;
  border-radius: 5px;
  transition: opacity 0.3s ease-in-out;
  margin-top: 5px;
  margin-bottom: 10px;
  &:hover {
    color: rgba(16, 24, 40, 1);
    opacity: 0.8;
    cursor: pointer;
  }
}


