.categories {
  padding-bottom: 70px;
  @media(max-width: 676.98px){
    padding-bottom: 35px;
  }
  &_text {
    margin: 0 auto;
    max-width: 522px;
    text-align: center;
    line-height: 26px;
    color: rgba(71, 84, 103, 1);
    font-weight: 400;
    @media(max-width: 676.98px){
      font-size: 15px;
    }
  }

  &_content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 30px;
    margin-bottom: 70px;
    @media(max-width: 1099.98px){
      flex-direction: column;
      gap: 30px;
      margin-top: 20px;
      margin-bottom: 35px;
    }
  }

  &_flex {
    width: 400px;
    height: 379px;
    border: 1px solid rgba(228, 231, 236, 1);
    border-radius: 5px;
    padding: 40px 30px;
    box-shadow: 0px 0px 1px 1px rgba(228, 231, 236, 0.15);
    @media(max-width: 479.98px){
      width: 300px;
    }
  }
  

  &_box {
    display: grid;
    justify-content: center;
    place-items: center;
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: repeat(3, 1fr);
    grid-area: auto;
    column-gap: 100px;
    row-gap: 30px;
    @media(max-width: 676.98px){
      grid-template-columns: repeat(1, 250px);
      gap: 30px;
    }
  }
}

.content {
  &_title {
    font-size: 30px;
    line-height: 26px;
    font-weight: 600;
    padding-bottom: 25px;
  }

  &_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
  }

  &_text {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400px;
    color: rgba(102, 112, 133, 1);
  }

  &_span {
    text-align: center;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: rgba(228, 231, 236, 1);
    color: rgba(0, 109, 119, 1);
    padding: 9px;
  }
}

.line {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(228, 231, 236, 1);
  margin-bottom: 25px;
}

.box {
  &_table {
    display: flex;
    align-items: center;
    width: 285px;
    height: 96px;
    gap: 20px;
    border: 1px solid rgba(228, 231, 236, 1);
    border-radius: 5px;
    padding: 40px 10px;
    box-shadow: 0px 0px 1px 1px rgba(228, 231, 236, 0.15);
  }

  &_span {
    width: 46px;
    height: 46px;
    padding: 15px;
    border-radius: 50%;
    background: rgba(206, 229, 217, 1);
  }

  &_title {
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    width: 200px;
  }
}
