.cross-border {

    padding-bottom: 100px;
    @media(max-width: 676.98px){
      padding-bottom: 60px;
    }

    &_img{
        border-radius: 50%;
        padding: 20px;
        width: 100px;
        background-color: #fff;
        text-align: center;
        margin-bottom: 15px;
    }
  &_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    place-items: center;
    @media(max-width: 991.98px){
      grid-template-columns: repeat(2, 1fr);
    }

    @media(max-width: 676.98px){
      grid-template-columns: repeat(1, 1fr);
    }

    
  }

  &_block {
    width: 285px;
    height: 320px;
    border-radius: 5px;
    background: rgba(255, 243, 234, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &_title {
    font-size: 32px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    padding-bottom: 20px;
    @media(max-width: 676.98px){
      font-size: 25px;
    }
  }

  &_text {
    max-width: 117px;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    color: rgba(102, 112, 133, 1);
    padding-bottom: 20px;
  }
}


