.footer {
  display: grid;
  grid-template-columns: repeat(5, 200px);
  gap: 20px;
  @media(max-width: 991.98px){
    grid-template-columns: repeat(5, 150px);
  }
  @media(max-width: 840.98px){
    grid-template-columns: repeat(4, 200px);
  }
  @media(max-width: 767.98px){
    grid-template-columns: repeat(3, 200px);
  }
  @media(max-width: 549.98px){
    grid-template-columns: repeat(2, 300px);
  }
  @media(max-width: 479.98px){
    grid-template-columns: repeat(1, 300px);
  }
  &_contacts {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &_content {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}

.contacts {
  &_title {
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    color: rgba(16, 24, 40, 1);
  }

  &_text {
    max-width: 210px;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: rgba(150, 150, 150, 1);
  }

  &_tel {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: rgba(68, 78, 98, 1);
    transition: color 0.2s ease;
    &:hover {
      color: rgba(75, 180, 255, 1);
      cursor: pointer;
    }
  }

  &_email {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: rgba(68, 78, 98, 1);
    &:hover {
      color: rgba(75, 180, 255, 1);
      cursor: pointer;
    }
  }

  &_icon {
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
  }
}

.content {
  &_title {
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    color: rgba(16, 24, 40, 1);
  }

  &_list {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &_item {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.02em;
  }

  &_link {
    color: rgba(150, 150, 150, 1);
    transition: color 0.2s ease-in-out;
    &:hover {
      color: rgb(71, 71, 71);
      cursor: pointer;
    }
  }
}

.line-footer::after,
.line-footer::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  border: 2px solid rgba(214, 216, 221, 1);
}

.line-footer::after {
  margin-top: 10px;
  margin-bottom: 70px;
}

.line-footer::before {
  margin-top: 200px;
  margin-bottom: 50px;
}

.text {
  padding-top: 30px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media(max-width: 479.98px){
    display: block;
    text-align: center;
  }
  

  &_title {
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    color: rgba(150, 150, 150, 1);
  }

  & > span {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: rgba(150, 150, 150, 1);
  }
}
