$mainColor: rgba(16, 24, 40, 1);
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding-top: 30px;
    padding-bottom: 50px;
    @media (max-width: 767.98px) {
        gap: 20px;
    }

    
    &_navbar{
        display: flex;
    gap: 60px;
    font-weight: 500px;
    @media (max-width: 991.98px) {
        gap: 40px;
    }
    @media (max-width: 767.98px) {
        gap: 20px;
    }
    }
    
    
        &_title{
            font-size: 16px;
            line-height: 25px;
            color: $mainColor;
            transition:  color 0.3s ease ;
            &:hover{
                cursor: pointer;
                color:rgba(0, 109, 119, 1);
            }
            @media (max-width: 479.98px) {
                color: #fff;
            }
        }

        &_btn{
            width: 150px;
            font-size: 16px;
            color: #fff;
            background: $mainColor;
            border-radius: 15px;
            padding: 5px 15px;
            transition:  background-color 0.3s ease ;
            &:hover{
                cursor: pointer;
                background-color:rgb(38, 56, 93);
            }
        }

        &_menu-icon{
            display: none;
            @media (max-width: 479.98px) {
                display: block;
                width: 44px;
                height: 44px;
                position: relative;
                z-index: 2;
                overflow: hidden;
                & > span {
                  width: 30px;
                  height: 4px;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  background-color: rgb(190, 225, 230);
                  transition: all 0.5s;
                }
                & > span:nth-of-type(2) {
                  top: calc(50% - 6px);
                }
                & > span:nth-of-type(3) {
                  top: calc(50% + 6px);
                }
                &.active > span:nth-of-type(1) {
                  display: none;
                }
                &.active > span:nth-of-type(2) {
                  top: 50%;
                  transform: translate(-50%, 0%) rotate(45deg);
                }
                &.active > span:nth-of-type(3) {
                  top: 50%;
                  transform: translate(-50%, 0%) rotate(-45deg);
                }
              }
        }

        &_navbar{
            @media (max-width: 479.98px) {
                position: absolute;
                z-index: 5555;
                top: 90px;
                display: none;
                width: 182px;
                height: 208px;
                border-radius: 6px;
                background: #302f2f;
                transition: display 0.3s ease-in;
                padding: 20px 0px;
                color: #fff;
                &.active {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
              }
        }
         
    }