.introduction {
  margin-bottom: 120px;
  @media(max-width: 767.98px) {
    margin-bottom: 80px;
  }
  &_box {
    display: flex;
    align-items: center;
    gap: 130px;
    @media(max-width: 991.98px) {
     flex-direction: column-reverse;
     gap: 65px;
    }
  }
}

.box-intoduction {

  & img{
    @media(max-width: 479.98px) {
      max-width: 250px;
     }
  }
  &_img::after {
    content: "";
    display: block;
    width: 69px;
    height: 69px;
    top: 20px;
    right: 325px;
    position: absolute;
    border-radius: 50%;
    background: rgba(255, 221, 210, 1);
    @media(max-width: 479.98px) {
      right: 250px;
     }
  }
  &_img{
    position: relative;

  }

  &_img::before {
    content: "";
    display: block;
    width: 46px;
    height: 46px;
    bottom: 20px;
    right: 325px;
    position: absolute;
    border-radius: 50%;
    background: rgba(255, 221, 210, 1);
    @media(max-width: 479.98px) {
      right: 250px;
     }
  }

  &_label {
    font-size: 25px;
    line-height: 30px;
    font-weight: 300;
    color: rgba(152, 162, 179, 1);
    margin-bottom: 40px;
    @media(max-width: 479.98px) {
      font-size: 20px;
      line-height: 35px;
      margin-bottom: 20px;
     }
  }

  &_title {
    font-weight: 800;
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 40px;
    @media(max-width: 479.98px) {
      font-size: 40px;
      line-height: 45px;
      margin-bottom: 20px;
     }
  }
  &_text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 4.5%;
    color: rgba(71, 84, 103, 1);
    margin-bottom: 30px;
    @media(max-width: 479.98px) {
      font-size: 15px;
      line-height: 20px;
      margin-bottom: 20px;
     }
  }

  &_icon {
    display: flex;
    align-items: center;
    gap: 30px;
    @media(max-width: 479.98px) {
      flex-direction: column;
      gap: 20px;
      
     }
  }
}

.icon {
  display: flex;
  align-items: center;
  gap: 30px;
  padding-top: 30px;

  @media(max-width: 479.98px) {
    align-items: baseline;
    padding-top: 20px;
   }
  &_img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: rgba(190, 225, 230, 1);
    padding: 15px;
  }
  &_span{
    font-size: 30px;
    font-weight: 500;
    color: rgba(16, 24, 40, 1);
    line-height: 26px;
  }

  &_title{
    padding-top: 10px;
    color: rgba(102, 114, 139, 1);
  }
}
