.modal-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5555;
  &_content {
    background-color: rgb(116, 209, 238);
    width: 700px;
    height: 300px;
    border-radius: 15px;
  }

  &_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    @media(max-width: 479.98px){
    gap: 30px;
    padding: 10px 30px;
    }
   
  }

  &_title{
    font-size: 40px;
    line-height: 25px;
    font-weight: 500;
    @media(max-width: 479.98px){
      font-size: 30px;
    }

  }

  &_block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(116, 209, 238);
    padding: 20px;
  }

  &_text{
    text-align: center;
    font-weight: 400;
    line-height: 25px;
    color: white;
    padding: 50px 0;
    max-width: 500px;
    margin: 0 auto;
    @media(max-width: 479.98px){
    
    }
  }

  &_close {
    background-color: rgb(116, 209, 238);
    font-size: 30px;
    border: none;
    color: white;
    cursor: pointer;
  }

  &_actions {
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center;
    font-size: 15px;
  }
  
  
}
