.card-item {
  max-width: 250px;
  max-height: 370px;
  border: 1px solid rgba(228, 231, 236, 1);
  border-radius: 5px;
  padding: 0px 20px 10px 20px;
  box-shadow: 0px 0px 1px 1px rgba(228, 231, 236, 0.15);
  &_title {
    font-size: 16px;
    line-height: 20px;
    color: rgba(50, 58, 75, 1);
    font-weight: 800;
    padding-bottom: 15px;
  }

  &_img {
    position: relative;
    padding: 10px 30px;
    height: 219px;
    display: grid;
    place-items: center;
  }

  &_box {
    display: flex;
    gap: 28px;
    
  }

  &_star {
    font-size: 25px;
    cursor: pointer;
  }

  &_price {
    color: rgba(0, 109, 119, 1);
    font-size: 18px;
    line-height: 26px;
    text-align: center;
  }

  &_color {
    font-size: 15px;
    line-height: 20px;
    font-weight: 300;
  }
  &_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.card-close {
  position: absolute;
  top: 5px;
  right: 0px;
  font-size: 20px;
  cursor: pointer;
}
