.table-item{
    max-width: 700px;
  border: 1px solid rgba(228, 231, 236, 1);
  border-radius: 5px;
  padding: 0px 20px 10px 20px;
  box-shadow: 0px 0px 1px 1px rgba(228, 231, 236, 0.15);
  &_box{
    display: flex;
    gap: 50px;
    justify-content: center;
  }

  &_flex{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  &_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
  }
}