// Font settings: &display=swap
@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,800&display=swap);

$fontFamily: "Work Sans";
$mainColor: rgba(16, 24, 40, 1);

$minWidth: 320px;
$maxWidth: 1920px;
//Container
$maxWidthContainer: 1130px;
$md1: 991.98;
$md2: 767.98;
$md3: 479.98;
$md4: 320;

@import "null";

//Basic styles
body {
  font-family: $fontFamily;
  color: $mainColor;
}
#root {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

// [class*="__container"]
.container {
  max-width: $maxWidthContainer;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.button{
    width: 164px;
    height: 45px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    padding: 5px 10px;
    background: $mainColor;
    color: #fff;
    transition:  background-color 0.3s ease ;
            &:hover{
                cursor: pointer;
                background-color:rgb(38, 56, 93);
            }
}

.main-title{
  font-size: 50px;
  line-height: 60px;
  font-weight: 500;
  color: $mainColor;
  margin: 50px 0px ;
  text-align: center
}


.main-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}



.main-btn{
  font-size: 15px;
  font-weight: 400;
}

@media(max-width: 676.98px) {
  .main-title{
    font-size: 35px;
  line-height: 40px;
  margin: 30px 0px ;
  }

 }
 
@import "header";
@import "introduction";
@import "categories";
@import "crossBorder";
@import "subcribe";
@import "Button";
@import "Modal";
@import "footer";


